

<!-- <section>
     <div class="container service">


            <div class="row">
               
                <div class="text-center">

                     <img src="./../../../../assets/images/profile-img.png" class="message"/>

                    <h4 class="gold">كلمة الامين العام</h4>
                    <h4 class="gold">سعادة / مريم علي المعمري</h4>


                                   
                    <p>
العمل الخيري سمة المجتمعات الراقية، فهو نابع من دعوة رسل الله إلى التكافل والتعاون على الخير والبر، وإن دولة الإمارات العربية المتحدة رسخ مبادئ العمل الخيري حتى أضحى جزءا من بنيانها وإحدى وسائل تقدمها ونهضتها، وحين نذكر المسيرة الإنسانية لدولة الإمارات لا يمكن أن ننسى بصمة الجمعيات المؤسسات الخيرية العاملة في إمارة عجمان وجهودها مع بقية مؤسسات العمل الأخرى المنتشرة في كافة أرجاء الإمارات في إرساء العمل الخيري وجعل دولة الإمارات المانح الأول للمساعدات الإنسانية عالميا لخمسة أعوام متتالية.
                    </p>
                   

                </div>
               

            </div>

        </div>
</section> -->
<section >
  <div class="container service">
    <div class="row">
      <div class="text-center">
        <img src="./../../../../assets/images/Maryam image-Photoroom.png" class="message"/>

        <h4 class="gold">{{ 'MESSAGE.TITLE' | translate }}</h4>
        <h4 class="gold">{{ 'MESSAGE.NAME'  | translate }}</h4>

        <p>{{ 'MESSAGE.P1' | translate }}</p>
      </div>
    </div>
  </div>
</section>
