

<section>
     <div class="container service">


            <div class="row">
               
                <div class="text-center">

                     <img src="./../../../../assets/images/profile-img.png" class="message"/>

                    <h4 class="gold">كلمة الامين العام</h4>
                    <h4 class="gold">سعادة / مريم علي المعمري</h4>


                                        <h4 class="gold">General Manager's Message</h4>

                    <p>
العمل الخيري سمة المجتمعات الراقية، فهو نابع من دعوة رسل الله إلى التكافل والتعاون على الخير والبر، وإن دولة الإمارات العربية المتحدة رسخ مبادئ العمل الخيري حتى أضحى جزءا من بنيانها وإحدى وسائل تقدمها ونهضتها، وحين نذكر المسيرة الإنسانية لدولة الإمارات لا يمكن أن ننسى بصمة الجمعيات المؤسسات الخيرية العاملة في إمارة عجمان وجهودها مع بقية مؤسسات العمل الأخرى المنتشرة في كافة أرجاء الإمارات في إرساء العمل الخيري وجعل دولة الإمارات المانح الأول للمساعدات الإنسانية عالميا لخمسة أعوام متتالية.
                    </p>
                   

                    <p>
                        Charitable work is a characteristic of high-end societies, as it stems from the call of Allah’s messengers to the Solidarity and cooperation for good and righteousness, and that the United Arab Emirates has established itself the principles of charitable work have become a part of its structure and one of the means for its advancement and its renaissance, and when we mention the humanitarian march of the UAE, we cannot forget The imprint of charitable institutions operating in the emirate of Ajman and its efforts with The rest of the other work institutions spread throughout the Emirates in establishing work Charity and making the UAE the first donor of humanitarian aid globally for five Consecutive years
                    </p>
                </div>
               

            </div>

        </div>
</section>