.carousel-caption {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 24px;
  border-radius: 12px;
  color: #000;
  text-align: start;
  max-width: 700px;
}
.slide-wrapper {
  min-height: 400px;
  width: 100%;
}
