.status-waiting {
    background: rgba(205, 173, 95, 0.2) !important;
    color: #8D734D !important;
}

.initiative-description p {
    margin: 0 0 1rem;
  white-space: normal;         
  word-wrap: break-word;      
  overflow-wrap: break-word;  
  word-break: break-word;     
}