 <div class="container mt-5">
      <h1>{{ 'HELLO' | translate }}</h1>
      <button class="btn btn-primary mt-3" (click)="toggleLang()">
        {{ 'LANG' | translate }}
      </button>
    </div>
    <router-outlet></router-outlet>
<ngx-spinner
bdColor="rgba(0,0,0,0.8)"
size="medium"
color="#fff"
type="ball-clip-rotate-multiple"
[fullScreen]="true">
</ngx-spinner>

<button class="btn btn-success" (click)="showSuccess()">عرض نجاح</button>
<button class="btn btn-danger" (click)="showError()">عرض خطأ</button>