<section>
  <div class="container">
    <div class="footer d-xl-flex justify-content-between">
      <div class="d-flex justify-content-xl-between gap-3 mb-4">
        <!-- <img src="./../../../assets/images/logo.png" class="header-logo"/> -->
        <img src="./../../../assets/images/council-logo.png" class="header-logo"/>
      </div>

      <div class="d-xl-flex gap-5">
        <div class="footer-links">
          <a routerLink="/home">{{ 'FOOTER.HOME' | translate }}</a>
          <a routerLink="/about/councile">{{ 'FOOTER.ABOUT_US' | translate }}</a>
          <a routerLink="/services">{{ 'FOOTER.SERVICES' | translate }}</a>
        </div>
        <div class="footer-links">
          <a routerLink="/initiatives">{{ 'FOOTER.INITIATIVES' | translate }}</a>
          <a routerLink="/charity-organizations">{{ 'FOOTER.CHARITY_ORGS' | translate }}</a>
          <a routerLink="/contact-us">{{ 'FOOTER.CONTACT_US' | translate }}</a>
        </div>
        <div class="footer-links">
          <a routerLink="/websitcontent/TermsandConditions">{{ 'FOOTER.TERMS' | translate }}</a>
          <a routerLink="/websitcontent/disclaimer">{{ 'FOOTER.DISCLAIMER' | translate }}</a>
          <a routerLink="/websitcontent/Privacy">{{ 'FOOTER.PRIVACY' | translate }}</a>
        </div>
      </div>
    </div>

    <div class="copyrights-footer d-xl-flex justify-content-xl-between">
      <p>{{ currentYear }} {{ 'FOOTER.COPYRIGHT_NAME' | translate }}</p>
     <div class="d-flex gap-5 align-items-center  ">
      <p class=" mb-0" style="color: #CD644C; font-weight: 600;">نسخة تجريبية</p>
       <div class="d-flex gap-3 social">
        <a href="#" target="_blank">
          <img src="./../../../assets/images/001-facebook.png" />
        </a>
        <a href="#" target="_blank">
          <img src="./../../../assets/images/002-twitter.png" />
        </a>
        <a href="#" target="_blank">
          <img src="./../../../assets/images/003-linkedin-sign.png" />
        </a>
        <a href="#" target="_blank">
          <img src="./../../../assets/images/004-instagram.png" />
        </a>
      </div>
     </div>
    </div>
  </div>
</section>
