    <section>
        <div class="container">
            <div class="footer d-xl-flex justify-content-between">
                <div class="d-flex justify-content-xl-between gap-3 mb-4">
                    <img src="./../../../assets/images/logo.png" style="width:100px; height:60px;" />
                    <img src="./../../../assets/images/logo.png" style="width:100px; height:60px;" />
                </div>

                <div class="d-xl-flex gap-5">
                    <div class="footer-links">
                        <a href="#">Home</a>
                        <a href="#">About Us</a>
                        <a href="#">Services</a>
                    </div>
                    <div class="footer-links">
                        <a href="#">Initiatives</a>
                        <a href="#">Charity Organizations</a>
                        <a href="#">Contact Us</a>
                    </div>
                    <div class="footer-links">
                        <a href="#">Terms & Conditions</a>
                        <a href="#">Disclaimer</a>
                        <a href="#">Privacy policy</a>
                    </div>

                </div>



            </div>
            <div class="copyrights-footer d-xl-flex justify-content-xl-between">
                <p>2025 مجلس تنسيق العمل الخيري</p>
                <div class="d-flex gap-3 social">
                    <a href="#" target="_blank">
                        <img src="./../../../assets/images/001-facebook.png" />
                    </a>
                    <a href="#" target="_blank">
                        <img src="./../../../assets/images/002-twitter.png" />
                    </a>
                    <a href="#" target="_blank">
                        <img src="./../../../assets/images/003-linkedin-sign.png" />
                    </a>
                    <a href="#" target="_blank">
                        <img src="./../../../assets/images/004-instagram.png" />
                    </a>
                </div>
            </div>

        </div>
    </section>