<div class="container">
    <div class="row mt-5">
        <div class="col-xl-3"></div>
        <div class="col-xl-6">
            <div class="main-container mt-5 login-box" style="padding:64px 50px;">
                <div class="d-flex justify-content-center align-items-center gap-2 mb-5">
                    <img src="assets/images/logo.png" />
                    <img src="assets/images/logo.png" />
                </div>
                <h4 class="bold gold title-32">{{ 'AUTH.RESET_PASSWORD.TITLE' | translate }}</h4>
                <p class="mb-4">{{ 'AUTH.RESET_PASSWORD.DESCRIPTION' | translate }}</p>

                <form [formGroup]="resetPasswordForm" (ngSubmit)="submit()">
                    <div class="mb-4">
                        <label for="password" class="form-label">{{ 'AUTH.RESET_PASSWORD.PASSWORD' | translate }}</label>
                        <div class="input-group">
                            <input [type]="showPassword ? 'text' : 'password'" id="password" class="form-control"
                                [ngClass]="{'is-invalid': resetPasswordForm.get('password')?.invalid && (resetPasswordForm.get('password')?.touched || submitted)}"
                                formControlName="password" placeholder="{{ 'AUTH.RESET_PASSWORD.PASSWORD_PLACEHOLDER' | translate }}" />
                            <button type="button" class="btn btn-outline-secondary"
                                style="background-color: #F7F7F7 !important; border:none  !important;"
                                (click)="showPassword = !showPassword">
                                <i class="fa" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
                            </button>
                        </div>
                        <div class="form-text text-muted small"
                            *ngIf="(resetPasswordForm.get('password')?.dirty || resetPasswordForm.get('password')?.touched) && resetPasswordForm.get('password')?.invalid">
                            {{ 'AUTH.RESET_PASSWORD.PASSWORD_GUIDELINES' | translate }}
                        </div>
                        <div *ngIf="resetPasswordForm.get('password')?.errors && (resetPasswordForm.get('password')?.touched || submitted)"
                            class="invalid-feedback">
                            <div *ngIf="resetPasswordForm.get('password')?.errors?.['required']">
                                {{ 'AUTH.RESET_PASSWORD.PASSWORD_REQUIRED' | translate }}
                            </div>
                            <div *ngIf="resetPasswordForm.get('password')?.errors?.['minlength']">
                                {{ 'AUTH.RESET_PASSWORD.PASSWORD_MIN_LENGTH' | translate }}
                            </div>
                            <div *ngIf="resetPasswordForm.get('password')?.errors?.['pattern']">
                                {{ 'AUTH.RESET_PASSWORD.PASSWORD_PATTERN' | translate }}
                            </div>
                        </div>
                    </div>

                    <div class="mb-4">
                        <label for="confirmPassword" class="form-label">{{ 'AUTH.RESET_PASSWORD.CONFIRM_PASSWORD' | translate }}</label>
                        <div class="input-group">
                            <input [type]="showCPassword ? 'text' : 'password'" id="confirmPassword"
                                class="form-control"
                                [ngClass]="{'is-invalid': resetPasswordForm.get('confirmPassword')?.invalid && (resetPasswordForm.get('confirmPassword')?.touched || submitted)}"
                                formControlName="confirmPassword" placeholder="{{ 'AUTH.RESET_PASSWORD.CONFIRM_PASSWORD_PLACEHOLDER' | translate }}" />
                            <button type="button" class="btn btn-outline-secondary"
                                style="background-color: #F7F7F7 !important; border:none  !important;"
                                (click)="showCPassword = !showCPassword">
                                <i class="fa" [ngClass]="showCPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
                            </button>
                        </div>
                        <div class="form-text text-success small" *ngIf="showPasswordMatch()">
                            {{ 'AUTH.RESET_PASSWORD.PASSWORDS_MATCH' | translate }}
                        </div>

                        <div *ngIf="resetPasswordForm.get('confirmPassword')?.invalid && (resetPasswordForm.get('confirmPassword')?.touched || submitted)"
                            class="invalid-feedback">
                            {{ 'AUTH.RESET_PASSWORD.CONFIRM_PASSWORD_REQUIRED' | translate }}
                        </div>
                    </div>

                    <button type="submit" class="btn btn-gold w-100">{{ 'AUTH.RESET_PASSWORD.CONFIRM_BUTTON' | translate }}</button>
                </form>
            </div>
        </div>
    </div>
</div>
